div {
  margin: 1rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

app-navbar-button {
  margin: 0 0.25rem;
}

@media only screen and (min-width: 768px) {
  /* Desktop */
  div {
    flex-direction: row;
  }
}
