<mat-card>
  <mat-card-title>Our Varied Selection</mat-card-title>
  <mat-card-content>
    <p>
        Village Paws and Claws is committed to bringing you the best in nutritional
        foods and treats for your pets,as well as some really fun stuff for pets
        and pet parents!
    </p>
    <p>
        We carry a wide selection of dry, canned, and raw foods for dogs and cats.
        We specialize in premium food and treats that do NOT contain common allergens
        such as soy, byproducts, corn gluten, or wheat gluten. Many of our fomulas are
        <span class='emphasized'>grain-free</span>.
    </p>
    <p>
        <span class='emphasized'>
          Have a request for an item or product you'd like to see in our store?
        </span>
        Please call Rick at <app-data-phone-number></app-data-phone-number>.
    </p>
  </mat-card-content>
</mat-card>
