<mat-card>
  <mat-card-title>Our Varied Selection</mat-card-title>
  <mat-card-content>
    <p>
      Village Paws and Claws is committed to bringing you the best in nutritional
      foods and treats for your pets,as well as some really fun stuff for pets
      and pet parents!
    </p>
    <p>
      We carry a wide selection of dry, canned, and raw foods for dogs and cats.
      We specialize in premium food and treats that do NOT contain common allergens
      such as soy, byproducts, corn gluten, or wheat gluten. Many of our fomulas are
      <span class='emphasized'>grain-free</span>.
    </p>
    <p>
      <span class='emphasized'>
        Have a request for an item or product you'd like to see in our store?
      </span>
      Please call Rick at <app-data-phone-number></app-data-phone-number>.
    </p>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>All Products</mat-card-title>
  <div class='product-list'>
    <button mat-button><a href="http://www.championpetfoods.com/acana/" target="_blank">Acana</a></button>
    <button mat-button><a href="http://www.almonature.us" target="_blank">Almo</a></button>
    <button mat-button><a href="http://www.blueridgebeef.com" target="_blank">Blue Ridge Beef</a></button>
    <button mat-button><a href="http://www.canidae.com/" target="_blank">Canidae</a></button>
    <button mat-button><a href="http://www.chickensoupforthepetloverssoul.com/" target="_blank">ChickenSoup</a></button>
    <button mat-button><a href="http://www.cloudstar.com" target="_blank">Cloud Star</a></button>
    <button mat-button><a href="http://www.evangersdogfood.com/" target="_blank">Evangers</a></button>
    <button mat-button><a href="http://www.frommfamily.com/" target="_blank">Fromm</a></button>
    <button mat-button><a href="http://www.healthextension.com" target="_blank">Health Extension</a></button>
    <button mat-button><a href="http://www.holisticselect.com/" target="_blank">Holistic Select</a></button>
    <button mat-button><a href="http://www.thehonestkitchen.com" target="_blank">The Honest Kitchen</a></button>
    <button mat-button><a href="http://www.lotuspetfoods.com/" target="_blank">Lotus</a></button>
    <button mat-button><a href="http://www.naturesvariety.com/" target="_blank">Nature's Variety</a></button>
    <button mat-button><a href="http://www.nutrisourcedogfood.com/" target="_blank">NutriSource</a></button>
    <button mat-button><a href="http://www.orijen.ca/" target="_blank">Orijen</a></button>
    <button mat-button><a href="http://platopettreats.com/" target="_blank">Plato</a></button>
    <button mat-button><a href="http://www.primalpetfoods.com/" target="_blank">Primal</a></button>
    <button mat-button><a href="http://professionalpluspetfood.com/" target="_blank">Professional Plus</a></button>
    <button mat-button><a href="http://rawznaturalpetfood.com" target="_blank">Rawz</a></button>
    <button mat-button><a href="http://www.stellaandchewys.com/" target="_blank">Stella &amp; Chewy's</a></button>
    <button mat-button><a href="http://www.stevesrealfood.com/" target="_blank">Steve's Real Food</a></button>
    <button mat-button><a href="http://www.tasteofthewildpetfood.com/" target="_blank">Taste of The Wild</a></button>
    <button mat-button><a href="http://www.weruva.com" target="_blank">Weruva</a></button>
    <button mat-button><a href="http://www.zukes.com" target="_blank">Zuke's</a></button>
  </div>
</mat-card>
