.navbar {
  width: 100%;
  display: grid;
  grid-template-columns: 1rem 1fr 1rem;
  background-color: black;
}

img {
  width: 250px;
  height: 67px;
}

.sidebar-toggle {
  display: flex;
}

.sidebar-toggle button {
  padding: 0;
  color: #cbcbcb;
  min-width: 3rem;
}

.picture-container {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  /* Desktop */
  .sidebar-toggle {
    visibility: hidden;
  }
}
