.spacing {
  padding: 1rem;
  max-width: 60rem;
  margin: 0 auto;
}

mat-drawer-container {
  height: 100vh;
  background: none;
}

app-navbar.desktop-navbar {
  display: none;
}

@media only screen and (min-width: 768px) {
  /* Desktop */
  app-navbar.desktop-navbar {
    display: block;
  }
}

