* {
  --pic-width: 20vw;
  --pic-height: 13vw;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading .subtitle {
  margin-top: 1rem;
  font-style: italic;
  font-weight: 300;
}

#pics {
  display: grid;
  height: var(--pic-height);
  grid-template-columns: var(--pic-width) var(--pic-width) var(--pic-width);
}

#pics img {
  width: 100%;
  height: 100%;
}

.mat-button.action {
  margin: 0;
}

.action img {
  vertical-align: baseline;
  width: 20px;
}
