<div class='heading'>
  <div id='pics'>
    <img src="assets/1.jpg">
    <img src="assets/2.jpg">
    <img src="assets/3.jpg">
  </div>

  <span class='subtitle'>Lake Norman's Premier Choice for the Best Quality Pet Foods and Products</span>
</div>

<mat-card>
  <mat-card-title>It Takes A Village</mat-card-title>
  <mat-card-content>
    <p>
      Village Paws and Claws is committed to providing the highest quality products at the best possible prices.
    </p>
    <p>
      Grooming services and self dog wash available. Please stop by to say hello (pets always welcome)!
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button class='action'>
      <img src="assets/facebook.png">
      Like Us On Facebook!
    </button>
    <button mat-button class='action'>
      Buy CBD Oil
    </button>
    <button mat-button class='action'>
      Buy Rodan + Fields Skin Care
    </button>
  </mat-card-actions>
</mat-card>
