<div class='heading'>
  <div id='pics'>
    <img src="assets/1.jpg">
    <img src="assets/2.jpg">
    <img src="assets/3.jpg">
  </div>

  <span class='subtitle'>Lake Norman's Premier Choice for the Best Quality Pet Foods and Products</span>
</div>

<mat-card>
  <mat-card-title>It Takes A Village</mat-card-title>
  <mat-card-content>
    <p>
      Village Paws and Claws is committed to providing the highest quality products at the best possible prices.
    </p>
    <p>
      Located at <app-data-address></app-data-address>.
      Please stop by to say hello (pets always welcome)!
    </p>
    <mat-card-actions>
      <a target="_blank" href="https://www.facebook.com/Village-Paws-and-Claws-102316818248/">
        <button mat-stroked-button class='action'>
          <img src="assets/facebook.png">
          Like Us On Facebook!
        </button>
      </a>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
<app-card-store-information></app-card-store-information>
<app-card-store-hours></app-card-store-hours>
