/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  background-color: #f5f4f4;
}

button {
  width: 100%;
}

a {
  color: blue;
}

p {
  line-height: 1.5;
  font-weight: 300;
  margin: 0 0 0.5rem 0;
  text-align: justify;
}

p:last-child {
  margin-bottom: 0;
}

mat-card {
  margin: 1rem 0;
}

mat-card-title {
  font-weight: bold !important;
  margin-bottom: 1rem !important;
}

mat-card-actions {
  width: 100%;
  padding: 0 !important;
}

.emphasized {
  font-weight: 400;
}

.data {
  font-weight: 400;
  color: #673ab7;
}

@media only screen and (min-width: 768px) {
  /* Desktop */
  button {
    width: unset;
  }

  mat-drawer {
    display: none !important;
  }

  .mat-drawer-backdrop {
    display: none !important;
  }
}
