/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

* {
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  background-color: #f5f4f4;
}

a {
  color: blue;
}

p {
  margin-bottom: 0.5rem;
  line-height: 1.5;
  font-weight: 300;
}

mat-card {
  margin: 1rem;
}

mat-card-title {
  font-weight: bold !important;
  margin-bottom: 1rem !important;
}

.emphasized {
  font-weight: 400;
}

.data {
  font-weight: 400;
  color: #673ab7;
}
